In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [5]:
df['director'].fillna('Unknown', inplace=True)
df['cast'].fillna('No cast listed', inplace=True)
df['country'].fillna('Unknown', inplace=True)
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['rating'].fillna('Unknown', inplace=True)
df['duration_num'] = df['duration'].str.extract('(\d+)').astype(float)
df['duration_type'] = df['duration'].str.extract('([A-Za-z]+)')
df['duration'].fillna('Unknown', inplace=True)
df['genres'] = df['listed_in'].str.split(', ')
df['title'] = df['title'].str.strip()
df['type'] = df['type'].str.strip()
df['description'] = df['description'].str.strip()
df.drop_duplicates(subset=['show_id'], inplace=True)

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
C:\Users\tina\AppData\Local\Temp\ipykernel_26512\384360033.py:6: SyntaxWarning: invalid escape sequence '\d'
  df['duration_num'] = df['duration'].str.extract('(\d+)').astype(float)
C:\Users\tina\AppData\Local\Temp\ipykernel_26512\384360033.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown', inplace=True)
C:\Users\tina\AppData\Local\Temp\ipykernel_26512\384360033.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna('No cast listed', inplace=True)
C:\Users\tina\AppData\Local\Temp\ipykernel_26512\384360033.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna('Unknown', inplace=True)
C:\Users\tina\AppData\Local\Temp\ipykernel_26512\384360033.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna('Unknown', inplace=True)

In [4]:
import pandas as pd

# Fill missing values
df['director'] = df['director'].fillna('Unknown')
df['cast'] = df['cast'].fillna('No cast listed')
df['country'] = df['country'].fillna('Unknown')
df['rating'] = df['rating'].fillna('Unknown')
df['duration'] = df['duration'].fillna('Unknown')

# Convert date
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Extract numeric and type from duration
df['duration_num'] = df['duration'].str.extract(r'(\d+)').astype(float)
df['duration_type'] = df['duration'].str.extract(r'([A-Za-z]+)')

# Split genres
df['genres'] = df['listed_in'].str.split(', ')

# Strip strings
df['title'] = df['title'].str.strip()
df['type'] = df['type'].str.strip()
df['description'] = df['description'].str.strip()

# Drop duplicates
df = df.drop_duplicates(subset=['show_id'])

In [5]:
# Lowercase columns that are categorical or for text analysis
df['type'] = df['type'].str.lower()
df['director'] = df['director'].str.title()
df['country'] = df['country'].str.title()
df['rating'] = df['rating'].str.upper()


# Remove extra spaces in cast and genres
df['cast'] = df['cast'].apply(lambda x: ', '.join([c.strip() for c in x.split(',')]))
df['genres'] = df['genres'].apply(lambda lst: [g.strip() for g in lst])


# Add a flag if director or country was originally missing
df['unknown_director'] = df['director'].apply(lambda x: 1 if x == 'Unknown' else 0)
df['unknown_country'] = df['country'].apply(lambda x: 1 if x == 'Unknown' else 0)


# Replace rare or inconsistent ratings
valid_ratings = ['G', 'PG', 'PG-13', 'R', 'NC-17', 'TV-MA', 'TV-PG', 'TV-14', 'Unknown']
df['rating'] = df['rating'].apply(lambda x: x if x in valid_ratings else 'Unknown')


# Number of cast members
df['num_cast'] = df['cast'].apply(lambda x: len(x.split(', ')) if x != 'No cast listed' else 0)

# Year added (from date_added)
df['year_added'] = df['date_added'].dt.year

# Duration split into minutes or seasons
df['duration_min'] = df.apply(lambda row: row['duration_num'] if row['duration_type'] == 'min' else None, axis=1)
df['num_seasons'] = df.apply(lambda row: row['duration_num'] if str(row['duration_type']).lower() == 'season' else None, axis=1)

In [6]:
df.info()
df.head()
df.isnull().sum()  # should be minimal or only in optional columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8807 non-null   object
 1   type              8807 non-null   object
 2   title             8807 non-null   object
 3   director          8807 non-null   object
 4   cast              8807 non-null   object
 5   country           8807 non-null   object
 6   date_added        8709 non-null   datetime64[ns]
 7   release_year      8807 non-null   int64
 8   rating            8807 non-null   object
 9   duration          8807 non-null   object
 10  listed_in         8807 non-null   object
 11  description       8807 non-null   object
 12  duration_num      8804 non-null   float64
 13  duration_type     8807 non-null   object
 14  genres            8807 non-null   object
 15  unknown_director  8807 non-null   int64
 16  unknown_country   8807 non-null   int64
 17  num_cast          8807 non-null   int64
 18  year_added        8709 non-null   float64
 19  duration_min      6128 non-null   float64
 20  num_seasons       1793 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(12)
memory usage: 1.4+ MB

show_id                0
type                   0
title                  0
director               0
cast                   0
country                0
date_added            98
release_year           0
rating                 0
duration               0
listed_in              0
description            0
duration_num           3
duration_type          0
genres                 0
unknown_director       0
unknown_country        0
num_cast               0
year_added            98
duration_min        2679
num_seasons         7014
dtype: int64

In [7]:
# Fill missing date_added and derive year_added
df['date_added'] = df['date_added'].fillna(pd.Timestamp('1900-01-01'))
df['year_added'] = df['date_added'].dt.year

# Fill missing duration_num with median
df['duration_num'] = df['duration_num'].fillna(df['duration_num'].median())

# Correctly create duration_min and num_seasons
df['duration_min'] = df.apply(
    lambda row: row['duration_num'] if str(row['duration_type']).lower() == 'min' else None,
    axis=1
)
df['num_seasons'] = df.apply(
    lambda row: row['duration_num'] if str(row['duration_type']).lower() == 'season' else None,
    axis=1
)

# Check all non-text columns for NaN
print(df.select_dtypes(include=['float64', 'int64']).isnull().sum())

# Check text columns for NaN
print(df.select_dtypes(include=['object']).isnull().sum())

release_year           0
duration_num           0
unknown_director       0
unknown_country        0
num_cast               0
duration_min        2679
num_seasons         7014
dtype: int64
show_id          0
type             0
title            0
director         0
cast             0
country          0
rating           0
duration         0
listed_in        0
description      0
duration_type    0
genres           0
dtype: int64

In [8]:
df.to_csv("../data/netflix_titles_cleaned.csv", index=False)